*.pyc
*.swp
*.DS_Store
*.swo
#ts/ts/geoip/*.dat
env
*.sqlite
dump.rdb
ts/.project
ts/.pydevproject
ts/.settings
celerybeat-schedule
celerybeat-schedule.db
venv/
site-packages
celerybeat.pid
elasticsearch
IntelligenceRiver
IntelligenceIndexer
temp*.rdb
.idea
.coverage
.coveragerc
.pip_download_cache
htmlcov/
opticrc
.project
.pydevproject
.settings
